/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

/* Variables */
:root {
    --primary-color: #FFB200;
    --secondary-color: #664229;
    --third-color: #FFB200;
    --text-color: #fff;
    --secondary-text-color: #2a6199;
    --third--text-color: #cc9767;
}

/* Global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('foodassets/backg.jpg');
    background-size: cover;
    background-position: center;
    padding: 0;
    overflow: hidden;
}

/* Container */
.auth-container {
    position: relative;
    max-width: 850px;
    width: 100%;
    background: rgba(255, 213, 0, 0.2);
    backdrop-filter: blur(10px);
    padding: 40px 30px;
    box-shadow: 0 5px 10px rgb(123, 61, 32);
    perspective: 2700px;
    border-radius: 15px;
}

/* Cover */
.auth-cover {
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    width: 50%;
    z-index: 98;
    transition: all 1s ease;
    transform-origin: left;
    transform-style: preserve-3d;
}

#form-flip:checked ~ .auth-cover {
    transform: rotateY(-180deg);
}

.cover-front,
.cover-back {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: var(--secondary-color);
    color: #FF9D00;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    backface-visibility: hidden;
    border-radius: 15px;
}

.cover-back {
    transform: rotateY(180deg);
}

.cover-content,
.cover-content-back {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
}

/* Front */
.cover-content p,
.cover-content i {
    font-size: 16px;
    font-family: "Lexend", sans-serif;
    margin-top: -150px;
    margin-bottom: 180px;
    margin-right: 5px;
}

.cover-content img {
    max-width: 140%;
    margin-bottom: -50px;
    margin-left: 5px;
}

/* Back */
.cover-content-back p {
    font-size: 16px;
    font-family: "Lexend", sans-serif;
    margin-top: 0px;
    margin-bottom: 30px;
}

.cover-content-back h2 {
    font-family: "Lexend", sans-serif;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 15px;
}

/* Forms */
.auth-forms {
    height: 100%;
    width: 100%;
    border-radius: 15px;
}

.forms-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.login-form,
.signup-form {
    width: calc(100% / 2 - 25px);
}

.form-title {
    position: relative;
    font-size: 24px;
    font-weight: 700;
    color: var(--secondary-color);
}
.form-title1 {
    position: relative;
    font-size: 24px;
    font-weight: 700;
    color: #52331d;
}

/* Inputs */
.input-group {
    margin-top: 30px;
}

.input-field {
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
    margin: 10px 0;
    position: relative;
}

.input-field input {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    padding: 0 30px;
    font-size: 12px;
    font-weight: 500;
    border-bottom: 2px solid rgb(123, 94, 39);
    transition: all 0.3s ease;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 25px;
}

.input-field input:focus,
.input-field input:valid {
    border-color: var(--secondary-color);
}

.input-field i {
    position: absolute;
    color: var(--secondary-color);
    font-size: 12px;
    left: 13px;
    top: 18.1px;
}

/* Switch */
.form-switch {
    font-size: 12px;
    font-weight: 500;
    color: black;
    margin-left: 15px;
}

.form-switch label {
    color: var(--secondary-text-color);
    cursor: pointer;
}

.form-switch label:hover {
    color:#0080ff;
    text-decoration: underline;
}

/* Submit */
.submit-button {
    color: var(--text-color);
    margin-top: 40px;
    width: 100%;
}

.submit-button input {
    color: var(--secondary-color);
    background: var(--third--text-color);
    border-color: #FF9D00;
    border-radius: 25px ;
    padding: 10px 0;
    margin-bottom: 10px;
    cursor: pointer;
    transition: all 0.4s ease;
    width: 100%; 
    font-size: 16px;
    font-weight: 600; 
}

.submit-button input:hover {
    background: var(--secondary-color);
    color: var(--third-color);
}

#form-flip {
    display: none;
}

/* Social */
.social-login {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    color: var(--text-color);
}

.social-login a {
    height: 40px;
    width: 40px;
    margin: 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 50%;
    border: .5px solid #000000;
    background-color: #664229;
    color: #FF9D00;
    font-size: 20px;
    transition: all 0.3s;
}

.social-login a:hover {
    background-color: #FFB200;
    color: #664229;
    border: .5px solid  #FFB200;
    box-shadow: 0 0 3rem rgb(137, 82, 36);
    transform:scale(1.2);
}

/* Responsive */
@media (max-width: 730px) {
    .auth-cover {
        display: none;
    }
    .login-form,
    .signup-form {
        width: 100%;
    }
    .signup-form {
        display: none;
    }
    #form-flip:checked ~ .auth-forms .signup-form {
        display: block;
    }
    #form-flip:checked ~ .auth-forms .login-form {
        display: none;
    }
}